<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark navbar-m-auto">
     <h6 class="display-6 navbar-text">&copy; Copyright <%= new Date().getFullYear();%> All Rights Reserved</h6>
    </nav>
  </footer>