  <!-- sscript section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <link rel='stylesheet' href='/bootstrap/dist/js/bootstrap.min.js'/>
  <script src="/content/app.js"></script>

</body>
</html>